.custom-button {
  min-width: 130px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 81%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: rgb(32, 30, 30);
    border: 1px solid rgb(12, 12, 12);
    font-size: 60%;
  }

&.google-sign-in {
  background-color:#0a59da;
  color: white;
    
  
    &:hover{
      background-color:#527ec5;
      border:none;
    }
  }
  &.inverted {
    background-color: white;
    color: rgb(32, 30, 30);
    border: 1px solid black;

    &:hover{
      background-color: black;
      color: white;
      border: none;
    }
  }
}
